{% extends twig_global.getParameter('extended_layout') ? twig_global.getParameter('extended_layout') : 'CoreBundle:Base:base.layout.html.twig' %}

{% block content %}
    
<div class="container container-padding">    
    <div id="products" class="row list-group">
        {% for product in products %}
            {% include 'PaymentBundle:Checkout:product.snipet.html.twig' %}
        {% endfor %} 
    </div>
</div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
            'bundles/payment/less/product-list-snipet.less'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
           $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
           $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
        });
    </script>
{% endblock %}