{% if billing_form is defined %}
    {% set  form =  billing_form %}
{% else %}
    {% set  form = get_billing_form() %}    
{% endif %}
{{ form_start(form, {'action': path('payment_checkout_editbilling'), 'method': 'post', attr: {'class': 'form-horizontal billing-form'} } ) }}
    <div class="space-bottom">
        {{ include('PaymentBundle:Profile:Delivery/_form.html.twig', { form: form }) }}
    </div>
    <div class="profile-buttons">
        <button type="submit" class="btn btn-core pull-right billing-submit"> <i class="ion-checkmark"></i> {{ 'save' | trans }}</button> 
    </div>
{{ form_end(form) }}